header {
    background-color: $primary-color;
    position: sticky;
    top:0;
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 1rem;
    }

    .logo {
        background-image: url("img/derzoo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100px;
        width: 100px;
    }

    ul {
        display: flex;
    }
    li{
        padding: 0 1rem;
        & a {
            color: $white;
            font-size: 1.5rem;
    
            &:hover {
                border-bottom: 2px solid $white;
            }
        }
    }
    li:nth-child(even){
        border-left: 2px solid $white;
    }
    li:nth-child(3) {
        border-left: 2px solid $white;
    }
    
}